/* overwrite reveal standrads */
.reveal h1 {
    font-size: 1.7em;
}
.reveal h2 {
    font-size: 1.5em;
}
.reveal section img {
    margin: 15px 0px;
    background: rgba(255, 255, 255, 0.12);
    outline: 1px solid grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    outline-offset: 10px;
	border:none;
}

.slides table > tbody > tr > td {
border-bottom-width: 0px;
}

/* own styles */
div.backgrounds > div.slide-background.stack.present > div.slide-background.present{
    background-repeat: no-repeat;
    background-size: contain;
}
p.caption {
    font-size: 0.6em;
}
p.license:after {
    content: " ";
    background-image: url('../cc-by-black.png');
    width: 415px;
    display: block;
    height: 80px;
    position: absolute;
    right: 0;
    transform: translate( 360px, 40px );
    transform: scale(0.5);
}
p.license {
    font-size: 0.75em;
    bottom: 0;
}
.reveal .progress {
    background: rgba(0, 0, 0, 0.2);
    height: 10px;
}
.license {
    position: absolute;
    bottom: 10px;
    font-size: 0.5em;
    right: 24px;
    height: 25px;
}

/* SVG styles  */
svg:not(:root) {
    overflow: hidden;
}
svg:not(:root) {
    overflow: hidden;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
svg[Attributes Style] {
    width: 480;
    height: 640;
}
.blog-chart, .blog-chart-barline {
  margin: 0 auto 1em auto;
  width: 900px;
}
 path.domain{
  fill: none;
  stroke: black;
}
 rect.bar{
  fill: steelblue;
}
 rect.bar:hover {
  fill: #e51843;
}
g text {
    font-size: 16px !important;
}
g.y.axis > text {
    font-size: 11px !important;
}